header{
    width: 18em;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    background-color: var(--secundary-color-header);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--header-stack-color);
    transition: 0.5s;
}
#logo img{
    width: 10em;
}
#logo #name{
    color: var(--color-text-primary);
    margin-bottom: 0.5em;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#logo #legend{
    color: var(--text-gray-color-primary);
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 3em;
}
#navegation nav ul{
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    flex-direction: column;
    margin-top: 6vh;
}
#navegation nav ul li{
    width: 100%;
    padding: 15px;
    border-top: 1px solid var(--border-color);
}
.navLinks{
    font-size: 1.2em;
    text-decoration: none;
    color: var(--text-gray-color-primary);
    text-align: center;
    transition: 0.5s;
}

.navLinks:hover{
    color: var(--color-secundary);
    transition: 0.5s;
}
#icons{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.select{
    color: var(--color-secundary);
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
}
footer{
    height: 100%;
    width: 100%;
}
#footer-containner{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#lang_selected{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 4em;
    cursor: pointer;
}
#lang-button{
    margin-left: 1em;
    margin-bottom: 0.5em;
}
#theme_button{
    margin-right: 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#theme-description{
    margin-bottom: 0.5em;
    color: var(--color-text-primary);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a1a1a1;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
#checkbox:checked + .slider {
    background-color: #1d1d1d;
}
#checkbox:focus + .slider {
    box-shadow: 0 0 1px #1d1d1d;
}
#checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.hamburger {
    display: none;
    margin-left: 15px;
    margin-top: 5px;
    float: left;
    z-index: 1000;
    transition: opacity .3s;
    position: fixed;
}
.hamburger:hover {
    cursor: pointer;
    opacity: .8;
}
.hamburger .line{
    width: 40px;
    height: 5px;
    background: rgb(236, 66, 66);
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.hamburger .line:nth-child(1) {
    background-color: var(--color-secundary);
}
.hamburger .line:nth-child(2) {
    background-color: var(--text-gray-color-primary);
}
.hamburger .line:nth-child(3) {
    background-color: var(--color-secundary);
}
.hamburger.isactive{
    z-index: 120;
}
.hamburger.isactive .line:nth-child(2) {
    opacity: 0;
}
.hamburger.isactive .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}
.hamburger.isactive .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}
#header{
    transition: 0.5s;
}
#header.active {
    left: 0;
    z-index: 100;
    transition: 0.5s;
}

@media screen and (max-width: 300px) {
    header{
        position: fixed;
        left: -200%;
    }
}

@media screen and (min-width: 740px) {
    header{
        display: flex;
    }
}

@media screen and (max-height: 720px) {
    header{
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1200px) {
    header{
        position: fixed;
        left: -200%;
    }
    #main-containner{
        margin-top: 4em;
    }
    .hamburger{
        display: block;
    }

}
