<link rel="stylesheet" href="../public/css/reload.css">
<div id="load-containner">
    <svg class="pl" viewBox="0 0 128 128" width="128px" height="128px" xmlns="http://www.w3.org/2000/svg">
		<g fill="none" stroke-linecap="round" stroke-width="16" transform="rotate(-90,64,64)">
			<circle class="pl__ring" r="56" cx="64" cy="64" stroke="#ddd" />
			<circle class="pl__worm pl__worm--moving" r="56" cx="64" cy="64" stroke="currentColor" stroke-dasharray="22 307.86 22" data-worm />
		</g>
		<g data-particles></g>
	</svg>
</div>
<script src="../public/js/reload.js"></script>